<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">

    <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Username: <%= user.username %>
            </li>
            <li class="list-group-item">
                Email Address: <%= user.email %>
            </li>
            <li class="list-group-item">
                First Name: <%= user.first_name %>
            </li>
            <li class="list-group-item">
                Last Name: <%= user.last_name %>
            </li>
    </ul>

    <h3 class="text-center">Recommendations</h3>

    <ul class="list-group list-group-flush">
        <% recommendations.forEach(function(item) {    %>
            <li class="list-group-item">
                <p>item.title</p>
                <p>item.year</p>
                <a href="/movies/<%= item._id %>">
                    <button class="btn btn-primary">Details</button>
                </a>
            </li>
        <% })    %>
    </ul>

</div>

<% include ../partials/foot %>