<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">

    <h3 class="c-text text-center p-3 p-sm-6 my-2 my-sm-4">Your Profile</h3>

    <table id="mytable" class="table">
            <tbody>
                <tr class="c-catalog-item text-center c-no-border">
                    <td class="c-no-border" colspan="2">Username:</td>
                    <td class="c-no-border" colspan="2"><%= user.username %></td>
                </tr>
                <tr class="c-catalog-item text-center c-no-border">
                    <td class="c-no-border" colspan="2">Email:</td>
                    <td class="c-no-border" colspan="2"><%= user.email %></td>
                </tr>
                <tr class="c-catalog-item text-center c-no-border">
                    <td class="c-no-border" colspan="2">First Name:</td>
                    <td class="c-no-border" colspan="2"><%= user.first_name %></td>
                </tr>
                <tr class="c-catalog-item text-center c-no-border">
                    <td class="c-no-border" colspan="2">Last Name:</td>
                    <td class="c-no-border" colspan="2"><%= user.last_name %></td>
                </tr>
                <tr class="c-catalog-item text-center c-no-border">
                    <td class="c-no-border" colspan="2">Movies Rated:</td>
                    <% if (user.ratings.length > 0) { %>
                    <td class="c-no-border" colspan="2">
                        <ul class="list-group">
                            <% user.ratings.forEach(function(item) { %>
                                <li class="list-item"><a href="/movies/<%= item._id %>"><%= item.title %></a></li>
                            <% }) %>
                        </ul>
                    </td>
                    <% } else { %>
                    <td class="c-no-border" colspan="2">No movies rated</td>
                    <% } %>
                </tr>
            </tbody>
    </table>

</div>

<% include ../partials/foot %>